.bodyLinksContainer {
  margin-bottom: 10px;
}

.searchPart {
  text-align: center;
  margin-bottom: 40px;
}

.searchPart input {
  min-width: 500px;
  width: 60%;
  padding: 8px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  text-align: center;
}
.searchPart label {
  color: #4183f5;
  cursor: pointer;
  position: absolute;
  right: 50px;
  margin-top: 14px;
}
.addNewPart {
  border: 1px solid green;
}

.linksPart {
  display: flex;
  flex-direction: column;
  height: 630px;
  overflow-x: hidden;
  overflow-y: auto;
}

.bodyLink {
  width: 92%;
  margin: 0 auto;
  padding-bottom: 24px;
  margin-bottom: 32px;
  border-bottom: rgba(255, 255, 255, 0.3) 1px solid;
}

.bodyLinkTitle {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 20px;
}

.bodyLinkActions {
  float: right;
  margin-top: -16px;
  display: none;
}

.bodyLinkActions label {
  color: #4183f5;
  cursor: pointer;
  margin-left: 40px;
}

.bodyLinkDelete {
  color: #f22843;
  float: left;
  margin-top: -16px;
  display: none;
  cursor: pointer;
}

.bodyLink:hover .bodyLinkActions {
  display: block;
}
.bodyLink:hover .bodyLinkDelete {
  display: block;
}

.bodyLinkEdit {
  display: flex;
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
  width: 60%;
  margin: 10px auto;
  flex-direction: column;
  justify-content: space-around;
}

.bodyLinkEdit > div {
  width: 100%;
  margin-bottom: 12px;
}

.bodyLinkEdit > div:first-child {
  margin-top: 20px;
}

.bodyLinkEdit > label {
  text-align: right;
  margin-right: 13px;
  color: #4183f5;
  cursor: pointer;
}

.bodyLinkEdit > div label {
  width: 25%;
  display: inline-block;
  height: 28px;
}
.bodyLinkEdit > div input {
  width: 70%;
  height: 28px;
  border: none;
  border-radius: 4px;
  padding: 4px 10px;
}

.bodyLinkLinksWrapper {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.bodyLinkLinksWrapper > div {
  width: 110px;
  height: 130px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #1c222a;
  -webkit-box-shadow: 0 4px 16px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 4px 16px 1px rgba(0, 0, 0, 1);
  box-shadow: 0 4px 16px 1px rgba(0, 0, 0, 1);
}

.bodyLinkLinksWrapper > div:hover {
  width: 110px;
  height: 130px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #1c222a;
  -webkit-box-shadow: inset 0 4px 24px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 4px 24px 1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 4px 24px 1px rgba(0, 0, 0, 0.75);
}

.bodyLinkLinksWrapper > div label {
  cursor: pointer;
}
